body {
  color: white;
   /*text-shadow: .5px .5px 1px #000000;*/
}

h1 span {
  text-shadow: 2px 2px 4px #000000; /*login titles*/
}

h1.mainLogo {
  font-size: 130px;
  text-shadow: 2px 2px 4px #000000;
}

label.control-label.red {
  text-shadow: .5px .5px .5px #dac0c0;
/*  text-shadow: .5px .5px .5px #461c1c;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;*/
}

label.control-label.green {
  text-shadow: .5px .5px .5px #d2d2d2;
/*  text-shadow: .5px .5px .5px #9c9c9c;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;*/
}

a {
  color: #F0AD4E !important;
} 

a:hover {
  color: #ED9C28 !important;
  cursor:pointer;
  text-decoration: none;
}

.blackText {
  color: black !important;
  text-shadow: none;
}
`
.blackText:hover {
  color: black !important;
  text-shadow: none;
}

a.blackText:hover {
  color: black !important;
  text-decoration: underline;
  text-shadow: none;
}

div.alert{
  text-shadow: none !important;
}



.badge.greenBackground {
  background-color: green;
}
.badge.yellowBackground {
  background-color: #8A6D3B;
}
.badge.redBackground {
  background-color: #A94442;
}
.greenText {
  color: green;
}
.yellowText {
  color: #8A6D3B;
}
.redText {
  color: #A94442;
}

.smallText {
  font-size: small;
}

li.hover:hover {
  background-color: #f5f5f5;
}

li.list-group-item-warning {
  background-color: #fff5c1;
}

li.list-group-item-success {
  background-color: #ddffce;
}

/*NAVBAR A TAGS*/
.makeOrange {
  color: #F0AD4E;
  /*font-size: 18px;*/
  font-weight: bold;
  text-shadow: .4px .4px 1px #000000;

/*      -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);*/
}

a.navbarLink {
  position: relative;
  text-decoration: none;
  /*font-size: 18px;*/
  font-weight: bold;
  text-shadow: .4px .4px 1px #000000;
  padding-bottom: 4px;
 /*     -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);*/
}

a.navbarLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ED9C28;
  color: #ED9C28 !important;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  /*padding-bottom: 8px;*/
  /*font-size: 18px;*/
  /*font-weight: bold;*/
  /*text-shadow: .5px .5px 1px #000000;*/
/*    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);*/
}

a.navbarLink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: #ED9C28 !important;
  /*padding-bottom: 4px;*/
  /*font-size: 18px;*/
  /*font-weight: bold;*/
  /*text-shadow: .5px .5px 1px #000000;*/
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
}
/*NAVBAR A TAGS*/


/*HOLYWOOD SQUARES///////////////////////////////////////////////////////////////*/
div.noPadding{
  padding: 0px;
}

a.list-group-item{  
  margin: 0px;      
  height: 200px;
  overflow: auto;
  border-width-right: 5px;
  border-width-left: 5px;
  border-color: #e2e1e1;
  border-radius: 0px !important;  /*THIS MAKE THE THE BOXES SQUARE*/
}

img.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.grow { 
  transition: all .15s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.04); 
  z-index: 1;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
}

.overlayGreen:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: .4;
  background-color: green;
  text
}

.overlayOffline:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: .4;
  background-color: red;
}

.overlayThumbsUpText:hover:after {
  content:"👍";
  text-align: center;
  font-size: 90px;
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 30px;
  text-shadow: 1px 1px 2px #000000;
}

.overlayOfflineText:hover:after {
  content:"Offline";
  font-weight: 700;
  text-align: center;
  font-size: xx-large;
  z-index: 1;
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 75px;
  color: white;
  background-color: red;
  opacity: .9;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 
}

.overlaySubmittedText:hover:after {
  content:"Limit Reached";
  font-weight: 700;
  text-align: center;
  font-size: xx-large;
  z-index: 1;
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 55px;
  color: white;
  background-color: red;
  opacity: .9;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 
}

.overlayWarningText:hover:after {
  content:"Too Many - Up to 15 will be Processed";
  font-weight: 700;
  text-align: center;
  font-size: x-large;
  z-index: 1;
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 45px;
  color: white;
  background-color: #F0AD4E;
  opacity: .9;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 
}

.badge.green {
  background-color: green;
  position: relative;
  z-index: 1;
  line-height: normal;
  border-radius: 4px;
  font-size: initial;
}

.badge.red {
  background-color: red;
  position: relative;
  z-index: 1;
  line-height: normal;
  border-radius: 4px;
  font-size: initial;
  }

.badge.yellow {
  background-color: #F0AD4E;
  position: relative;
  z-index: 1;
  line-height: normal;
  border-radius: 4px;
  font-size: initial;
}

/*HOLYWOOD SQUARES///////////////////////////////////////////////////////////////*/


/*BACKGROUND COLOR ANIMATION*/

/*body{
  background: linear-gradient(270deg, #67B26F, #4ca2cd);
  background-size: 400% 400%;
  animation: AnimationName 17s ease infinite;
}*/

/*body{
  background: linear-gradient(270deg, #43cea2, #185a9d);
  background-size: 400% 400%;
  animation: AnimationName 17s ease infinite;
}*/

/*body{
  background: linear-gradient(270deg, #19b4ae, #1277ca);
  background-size: 400% 400%;
  animation: AnimationName 17s ease infinite;
}*/

/*body{
  background: linear-gradient(270deg, #5b85c1, #40a2bf, #5399d2);
  background-size: 600% 600%;
  animation: AnimationName 12s ease infinite;
}*/

/*body{
  background: linear-gradient(270deg, #715F9B, #4876B4, #009ee2, #66c2ce);
  background-size: 600% 600%;
  animation: AnimationName 20s ease infinite;
}*/

body{
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg,#4bc5cf,#4b79cf,rgb(161, 152, 234));
  background-size: 300% 300%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}


@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/*BACKGROUND ANIMATION*/


/*FADE IN ON LOAD*/
#fadeIn p {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
/*FADE IN ON LOAD*/


/*BETA RIBBBON*/

.betaRibbon{
  top: 25px;
  left: -50px;
  width: 200px;
  z-index: 10;
  position: fixed;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-weight: bold;
  color: #FFF;
  background: #79A70A;
  background: linear-gradient(#F79E05 25%, #8F5408 115%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

/*BETA RIBBBON*/


@media (max-width: 767px) {

  h1.mainLogo {
    font-size: 80px;
  }

  .navbar-fixed-bottom {
    position: relative;
    min-height: 50px;
    margin-top: 20px;
    border: 1px solid transparent;
  }

  .betaRibbon{
    top: 25px;
    left: inherit;
    right: -50px;
    width: 200px;
    z-index: 10;
    position: fixed;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-weight: normal;
    font-size: 14px;
    color: #FFF;
    background: #79A70A;
    background: linear-gradient(#F79E05 25%, #8F5408 115%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  }

}
