a.colorBlue{
    color: #323996 !important;
}

.center {
    margin: 0 auto;
    width: 80%;
}

hr.showHr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: lightgrey;
  height: 1px;
}

.marginBottom { 
  margin-bottom: 33px;
}

.smallUrlText {
  font-size: 66%;
}

li:hover {
    background-color: #EEEEEE
}
