
body{
  background: linear-gradient(270deg, #19b4ae, #1277ca);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.whiteText {
  color: white;
}

a.colorBlue{
    color: #323996 !important;
}

h1.biggerText{
    font-size: 130px;
}


div.noPadding{
  padding: 0px;
  /*padding-right: 0px;*/
  /*padding-left: 0px;*/
}

.center {
    margin: 0 auto;
    width: 80%;
}

hr.showHr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: lightgrey;
  height: 1px;
}

.marginBottom { 
  margin-bottom: 33px;
}

.smallUrlText {
  font-size: 66%;
}

.yellowText {
  color: #F0AD4E;
}

li:hover {
    background-color: #EEEEEE;
}

.greenHover:hover {
    background-color: #DFF0D8;
}

.redHover:hover {
    background-color: #EBCCCC;

.label-as-badge {
    border-radius: 1em;
}